<% if @friends_search %>

    <div class="row mt-4">
      <div class="col-9">
        <table class="table table-striped table-hover ">
          <thead>
            <tr>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">E-mail</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <% @friends_search.each do |friend| %>
              <tr>
                <td> <%= friend.first_name %> </td>
                <td> <%= friend.last_name %> </td>
                <td> <%= friend.email %> </td>
                <td> 
                  <%= link_to 'View profile', '#', class: 'btn btn-sm btn-warning', method: :post  %>
                  <%= link_to 'Follow friend?', '#', class: 'btn btn-sm btn-success', method: :post  %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>


<% end %>
