<h2>User Details</h2>

<div class="row mt-4">
  <div class="col-9">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= @user.first_name %> </td>
          <td> <%= @user.last_name %> </td>
          <td> <%= @user.email %> </td>
          <td> 
            <% if current_user.not_friends_with?(@user.id) %>
              <%= link_to 'Follow friend?', friendships_path(friend: @user), class: 'btn btn-sm btn-success', method: :post  %>
            <% else %>
              <span class="badge bg-secondary"> You are friends </span>
            <% end %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<% if @tracked_stocks.any? %>
  <%= render 'stocks/list' %>
<% else %>
  <p class="lead">This user is not tracking any stocks.</p>
<% end %>
